@import "@syncfusion/ej2-base/styles/bootstrap5.scss";
@import "@syncfusion/ej2-buttons/styles/bootstrap5.scss";
@import "@syncfusion/ej2-react-layouts/styles/bootstrap5.scss";

#js-licensing {
  display: none;
}

#defaultLayout {
  padding: 10px;
}

.e-panel-container {
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.text-align {
  line-height: 90px;
}
